/*
@media (max-width: 320px) 
{
	#content_slide
	{
		margin: 0 auto;
		width:320px;
		height:480px;
	}
	#evento, #img_evento 
	{
		width:320px;
		height:480px;
		overflow:hidden;
	}
}
*/
@media screen and (min-width: 320px) and (max-width: 480px) {
	#page
	{
		width:320px;
		height:480px;;
	}
#menu_inicial
{
	background:#999;
}
#img_menu_inicial
{
	/*background:url(../img/iphone-ipod/menu.jpg);
	width:10px;
	height:20px;*/
}	


/*//links
#link_menu
{
	z-index:3;
	position:absolute;
	top:82%;
	left:50%;
	width:626px;
	margin-left:-313px;
	height:350px;
	margin-top:-375px;
}
#cab_menu, #cab_menu_int
{
	
	width:120px; 
	height:44px;	
	display:inline-block;
	padding-top:0px;
	text-align:center;
	vertical-align:central;
	position:absolute;
	z-index:10000;
	background:#000;	
}

#logo
{
	width:648px;
	height:44px;
	display:inline-block;
	margin-left:10%;
	text-align:center;
	vertical-align:central;
	position:absolute;
	padding-top:1xp;
}

#fecha_int
{	
	width:72px;
	height:44px;
	display:inline-block;
	padding-top:0px;
	text-align:center;
	vertical-align:middle;
	position:absolute;
	z-index:3;
	background:#000;
	margin-left:120px;
}
#fecha_int img
{
	margin-top:9px;
}
#logo_int
{
	width:576px;
	height:44px;
	display:inline-block;
	
	position:absolute;
	padding-top:1xp;
	background:#000;
	margin-left:192px;
}
#logo_int img
{
	margin-left:126.5px;
}*/

}
/*@media screen and (min-width: 769px) and (max-width: 1024px) {

#menu_inicial
{
	background:#000;
}	
#menu_inicial img, #cont_seccion img
{margin-top:-190px;}
#cont_seccion img
{}

//links*/
#link_menu
{
	z-index:3;
	position:absolute;
	top:82%;
	left:50%;
	width:620px;
	margin-left:-310px;
	height:350px;
	margin-top:-290px;

}
#cab_menu, #cab_menu_int
{
	
	width:120px; 
	height:44px;	
	display:inline-block;
	padding-top:0px;
	text-align:center;
	vertical-align:central;
	position:absolute;
	z-index:3;			
}

#logo
{
	width:904px;
	height:44px;
	display:inline-block;
	margin-left:10%;
	text-align:center;
	vertical-align:central;
	position:absolute;
	padding-top:1xp;
	
}

#fecha_int
{	
	width:72px;
	height:44px;
	display:inline-block;
	padding-top:0px;
	text-align:center;
	vertical-align:middle;
	position:absolute;
	z-index:3;
	background:#000;
	margin-left:120px;
}
#fecha_int img
{
	margin-top:9px;
}
#logo_int
{
	width:832px;
	height:44px;
	display:inline-block;
	position:absolute;
	padding-top:1xp;
	background:#000;
	margin-left:192px;
}
#logo_int img
{
	margin-left:254.5px;
}
}

*/

